<div class="home-container">
    <h1>Bad Goatt</h1>
    <p>Tienda Oficial</p>
    <div class="carrousel">
        <div class="grande">
            <img src="assets\img\5c04d0cb-bb36-4127-9798-2d62a030d5e5.jpg" alt="Imagen 1" class="img">
            <img src="assets\img\8ffb4c34-f84f-442e-8bd2-6ccf1e87e051.jpg" alt="Imagen 2" class="img">
            <img src="assets\img\dbc756c1-6532-416d-b39d-1b366eaa6ef7.jpg" alt="Imagen 3" class="img">
        </div>

        <ul class="puntos">
            <li class="punto activo"></li>
            <li class="punto"></li>
            <li class="punto"></li>
        </ul>
    </div>
</div>

  
  