<div class="container">
    @if (loading) {
        <h5>Cargando producto seleccionado</h5>
    }

    @if (!loading) {
        <div class="product-details">
            <div class="image">
                <img src="{{producto?.image}}" alt="">
            </div>
            <div class="info">
                <h1>Producto Seleccionado</h1>
                <div class="title">
                    <h2>{{producto?.title}}</h2>
                </div>
                <div class="description">
                    <p>Descripción del producto: {{producto?.description}}</p>
                </div>
                <div class="price">
                    <p>{{producto?.price | currency}}</p>
                </div>
                <button>Comprar</button>
            </div>
        </div>
    }

    </div>
    



