<!-- navbar.component.html -->
<div class="home">
<nav>
    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/productos">Productos</a></li>
    </ul>
  </nav>
  <section id="redes-sociales">
    <h2>Nuestras Redes</h2>
    <ul>
      <li><a href="https://www.facebook.com/enzo.sanchez.167"><i class="fab fa-facebook-f"></i> Facebook</a></li>
      <li><a href="https://twitter.com/?lang=en"><i class="fab fa-twitter"></i> Twitter</a></li>
      <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></li>
      <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> YouTube</a></li>
      </ul>
  </section>
</div>