nav {
    background-color: #333; /* Color de fondo de la barra de navegación */
    padding: 10px 20px; /* Espacio interno de la barra de navegación */
  }
  
  ul {
    list-style-type: none; /* Quita los marcadores de lista */
    padding: 0;
    margin: 0;
  }
  
  li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin-right: 20px; /* Espacio entre elementos de la lista */
  }
  
  a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #fff; /* Color del texto de los enlaces */
  }
  
  a:hover {
    color: #ccc; /* Cambia el color del texto al pasar el ratón por encima */
  }