nav {
    background-color:#EF7763;
    padding: 10px 20px; 
    float: left;
    
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    display: flex;
    margin-right: 20px; 
  }
  
  a {
    text-decoration: none; 
    color: #fff; 
  }
  
  a:hover {
    color: #EF7763; 
  }